app-title {
  display: block;
}

app-card {
  display: block;
  height: 30%;
}

app-back-home-button {
  display: block;
  margin-top: 3rem;
}

app-navigation {
  text-align: center;
  margin-top: 6rem;
  display: block;
}
