$up-sp: 600px;
$dw-sp: 599px;

app-navigation{
  text-align: center;
  margin-top: 6rem;
  display: block;
  margin-left: 20%;
  width: 60%;
  @media screen and (max-width: $up-sp) {
    margin-left: 7.5%;
    width: 85%;
  }
}

.container {
  position: relative;
  height: 100vh;
}
