$up-sp: 600px;
$dw-sp: 599px;

%navItems {
  position: relative;
  border-radius: 50%;
  box-shadow: 2px 2px 6px #c4c4c4, -2px -2px 6px #fff;
  height: 10rem;
  width: 10rem;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media screen and (max-width: $up-sp) {
    height: 7rem;
    width: 7rem;
  }
}
%navItemActive {
  box-shadow: inset -4px -4px 10px #fff, inset 4px 4px 4px #c4c4c4;
}

nav {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
}

.nav{
  &-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &-item{
    &-favorite {
      @extend %navItems;
      background-image: url("../../../assets/favorite.svg");
      &.active {
        @extend %navItemActive;
        @media screen and (max-width: $up-sp) {
          background-image: url("../../../assets/favorite_active.svg");
        }
      }
    }
    &-skills {
      @extend %navItems;
      background-image: url("../../../assets/skills.svg");
      &.active {
        @extend %navItemActive;
        @media screen and (max-width: $up-sp) {
          background-image: url("../../../assets/skills_active.svg");
        }
      }
    }
    &-link{
      @extend %navItems;
      background-image: url("../../../assets/links.svg");
      &.active {
        @extend %navItemActive;
        @media screen and (max-width: $up-sp) {
          background-image: url("../../../assets/links_active.svg");
        }
      }
    }
  }
}
