/* You can add global styles to this file, and also import other style files */
@import 'reset.css';

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

ul {
  list-style: none;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}
